h1 {
	padding-left: 40px;
}
h4{
	
	color:orange;

}

.imageR{

 width:350px;
 height:200px;
 margin-top: -1%;
 position:relative;
 margin-left:30%;

 
}

.Receita{
	margin-top:2%;
	position:absolute;
	margin-left:50px;


}

#lateral{
	height:400px;
	width:400px;
	margin-left: 950px;
	position:absolute;
	margin-top:-40%;
}

#conteudo{

	height:900px;
	width:1050px;
}

#dinamic{
	
	margin-left: 12%;
	margin-top:  2%;
	height:100%;
	width:80%;
}

#final{
	margin-top:7%;
	

}
#rodape{
	margin-top:2%;
	margin-left:35%;

}


#ilogo{
	height:200px;
	width:1450px;
}
#logo{

	position:relative;
	margin-left:0%;
	height:200px;
	width:80%;
	
}

#login{

	margin-left:99%;
	margin-top:0%;
	position:absolute;
	width:300px;
	}
	
#busca{
	margin-left:75%;
	margin-top:-10%;
	width:300px;
	height:150px;
	position:absolute;
	
}
#ibusca{
	float:right;
	margin-top:3%;
	width:100px;
	height:100px;
	position:relative;
	
}

.labelmessage{
	margin-top:2%;
	margin-left:35%;
	color:red;
	position:relative;
}

.imglateral{
	
	width:100%;
	height:100%;
	border:outset;
	border-width: 2px;
	border-color:black;

}

.imglateral:hover{
	
	width:110%;
	height:110%;


}

input.uppercase {
	text-transform: uppercase;
}

ul.recipe-preview {
	list-style: none;
}

li.recipe-name {
	font-size: 18pt;
	font-weight: bold;
	position: relative;
	top: -170px;
	left: 290px;
}

li.recipe-rate {
	position: relative;
	top: -140px;
	left: 290px;
}

li.recipe-autor {
	position: relative;
	top: -190px;
	left: 290px;
}

li.recipe-desc {
	position: relative;
	top: -150px;
	left: 290px;
}

li.recipe-rinfo {
	position: relative;
	top: -190px;
	left: 290px;
}

body{
	
}